/* ################
  INDEX PAGE
################  */
#welcome-section{
    height: 100vh;
    width: 100%;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
}

.overlay{
    height: 100%;
    width:100%;
    position: absolute;
    z-index: 3;
    background: rgba(0,0,0,0.1)
}

/* navbar */
.page-active{
    color: #fff !important;
    text-decoration: underline;
}


/* donation */
#donation-section{
    
}

#other-pages-section{
    background-color: #d2edff;
}
/* footer */
.footer-links-container a{
    color: white;
}
.footer-links-container ul{
    list-style-type: none;
    text-decoration: underline;
}
.footer-links-container{
    background-color: #000;
}

.copyright-container{
    background-color: #000;
}





/* ################
  ABOUT PAGE
################  */
.text{
  margin:   25px 50px 75px;
  color: rgb(211, 211, 211);
  font-size: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 16px;
}

footer ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;

}

footer li {
  display: inline;
  padding: 0 50px 0 0;
}

.footer li a {
  text-decoration: none;
}



/* ################
  CONTACT PAGE
################  */